django>=1.11,<1.12
django-debug-toolbar==1.8
gunicorn==19.4.5
psycopg2==2.7.3.1
whitenoise==3.3.1
django_tables2==1.17.1
django-haystack==2.6.1
elasticsearch==6.0.0
mygene==3.0.0
requests==2.18.4
biopython==1.70
numpy==1.13.3