{% extends 'ts_scl_db/scl_db_base.html'%}
<!-- {% load static %} -->
{% block content %}
<style type="text/css">
.mdc-text-field .mdc-select {
    width: 500px;
    min-height: 70px
}

.custom-text-field-input {
    width: 900px;
}

.full-width-textarea-example {
    margin-top: 16px;
}

.mdc-select__bottom-line {
    color: #26e274;
}


#search_field {
    position: absolute;
    transition: .5s ease;
    top: 400px;
    left: 100px;
    width: 200px;
    /*font-family: Verdana, Geneva, sans-serif;*/
}

#example {
    position: absolute;
    transition: .5s ease;
    top: 450px;
    left: 100px;
    height: 40px;
    width: 80px;
    font-size: 10px;
    color: gray;
}




#js-select-box {
    position: absolute;
    transition: .5s ease;
    top: 300px;
    left: 450px;
    min-width: 500px;
}

#js-select-box_2 {
    position: absolute;
    transition: .5s ease;
    top: 400px;
    left: 450px;
    min-width: 500px;
}

.mdc-form-field {
    position: absolute;
    left: 400px;
    top: 600px;
}

#tm_pos {
    position: absolute;
    top: 530px;
    left: 470px;
}

#exp_pos {
    position: absolute;
    top: 530px;
    left: 750px;
}

#kn_pos {
    position: absolute;
    top: 580px;
    left: 470px;
}

#pred_pos {
    position: absolute;
    top: 580px;
    left: 750px;
}

#data_channel {
    position: absolute;
    background: #f2f2f2;
    top: 525px;
    left: 450px;
    height: 100px;
    width: 500px;
}

#data_channel_text {
    position: absolute;
    top: 500px;
    left: 450px;
    /*font-family: Verdana, Geneva, sans-serif;*/
    color: #737373;
}

#submit {
    position: absolute;
    transition: .5s ease;
    top: 400px;
    left: 1100px;
    height: 60px;
    width: 200px;
    background: #1a1a1a;
}

#x {
    position: absolute;
    transition: .5s ease;
    top: 600px;
    left: 1100px;
    visibility: hidden;
}

#id {
    position: absolute;
    transition: .5s ease;
    top: 400px;
    left: 1100px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #f2f2f2;;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#myRange{
    position: absolute;
    width: 500px;
    left: 450px;
    top: 650px;
    color: #737373;
}

#scoreRange_disp{
    position: absolute;
    left: 50%
}


</style>
<section>
    <form id="form_queries" method="POST" target="_blank" action="{% url 'ts_scl_db:select_protein' %}">
        {% csrf_token %}
        <!-- tissue -->
        <div id="js-select-box" class="mdc-select" role="listbox" tabindex="0" form="form_queries">
            <div class="mdc-select__surface">
                <div id="bto_label" class="mdc-select__label">Tissue/Cell line</div>
                <div id="bto_text" class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
            </div>
            <div class="mdc-simple-menu mdc-select__menu">
                <ul class="mdc-list mdc-simple-menu__items">
                    <li class="mdc-list-item" role="option" id="all" tabindex="0">
                        All tissues and cell lines
                    </li>
                    {% if all_bto_obj %} {% for bto_obj in all_bto_obj %}
                    <li class="mdc-list-item" role="option" id={{bto_obj.id_BTO__BTO_id}}>
                        {{bto_obj.id_BTO__BTO_term}}
                    </li>
                    {% endfor %} {% else %}
                    <p>No information.</p>
                    {% endif %}
                </ul>
            </div>
            <input type="hidden" name="query_bto" id="query_bto_id" value="all" onclick="selectFunction_1()" />
        </div>
        <!-- protein  -->
        <div id="search_field" class="mdc-text-field mdc-text-field--box">
            <label id="id_label" for="id_search_id" class="mdc-text-field__label">Your protein</label>
            <input type="text" name="search_id" maxlength="200" required id="id_search_id" class="mdc-text-field__input" />
        </div>
        <!-- SCL -->
        <div id="js-select-box_2" class="mdc-select" role="listbox" tabindex="0">
            <div class="mdc-select__surface">
                <div id="go_label" class="mdc-select__label">Subcellular localization</div>
                <div id="go_text" class="mdc-select__selected-text"></div>
                <div class="mdc-select__bottom-line"></div>
            </div>
            <div class="mdc-simple-menu mdc-select__menu">
                <ul class="mdc-list mdc-simple-menu__items">
                    <li class="mdc-list-item" role="option" id="all" tabindex="0">
                        All SCLs
                    </li>
                    {% if all_go_obj %} {% for go_obj in all_go_obj %}
                    <li class="mdc-list-item" role="option" id={{go_obj.id_GO__GO_id}}>
                        {{go_obj.id_GO__SCL_term}}
                    </li>
                    {% endfor %} {% else %}
                    <p>Sorry, no information.</p>
                    {% endif %}
                </ul>
            </div>
            <input type="hidden" name="query_go" id="query_go_id" value="all" onclick="selectFunction_2()" />
        </div>
 <!--        # submit -->
        <div>
            <button id='submit' type="submit" class="mdc-button mdc-button--unelevated big-round-corner-button">
                SEARCH
            </button>
        </div>
        <button id='example' type="button" onclick="example_query()" class="mdc-button secondary-text-button">
            Example
        </button>
        <!-- # data channel -->
        <!--                 <div style="width:500px;height:100px;border:1px solid #000;">This is a rectangle!</div> -->
        <div id='data_channel_text'>Select your data channel</div>
        <div id='data_channel'></div>
        <!-- # text-mining -->
        <div class="mdc-form-field" id='tm_pos'>
            <div class="mdc-checkbox">
                <input type='hidden' value='no' name='query_tm'>
                <input type="checkbox" id="tm_data" name="query_tm" value="yes" checked class="mdc-checkbox__native-control" />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="tm_data">Text-mining</label>
        </div>
        <div class="mdc-form-field" id='exp_pos'>
            <div class="mdc-checkbox">
                <input type='hidden' value='no' name='query_exp'>
                <input type="checkbox" id="exp_data" name="query_exp" value="yes" checked class="mdc-checkbox__native-control" />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="exp_data">Experiment</label>
        </div>
        <div class="mdc-form-field" id='kn_pos'>
            <div class="mdc-checkbox">
                <input type='hidden' value='no' name='query_kn'>
                <input type="checkbox" id="kn_data" name="query_kn" value="yes" checked class="mdc-checkbox__native-control" />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="kn_data">Knowledge</label>
        </div>
        <div class="mdc-form-field" id='pred_pos'>
            <div class="mdc-checkbox">
                <input type='hidden' value='no' name='query_pred'>
                <input type="checkbox" id="pred_data" value="yes" name="query_pred" checked class="mdc-checkbox__native-control" />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="pred_data">Prediction</label>
        </div>

        <div class="slidecontainer" id="myRange">
          <p>Zscore range:</p>
<!--           <input type="range" name ='scoreRange' id='scoreRange' min="-10" max="100" value="0" class="slider" data-show-value="true">
           <output for="scoreRange" class="output"></output> -->
           <input type="range" name="scoreRange" id="scoreRange" value="0" min="-10" max="100" oninput="scoreRange_disp.value = scoreRange.value" class="slider">
           <output  id="scoreRange_disp">0</output>
        </div> 
      
    </form>
</section>




<section id='x'>
    <p>Debug mode:</p>
    <p>Currently selected Tissue: <span id="box-currently-selected">(none)</span></p>
    <p>Currently selected SCL: <span id="box-currently-selected_2">(none)</span></p>
</section>
</main>
<!-- #################### Jave Script ###################### -->
<!-- <script src="{% static 'js/material-components-web.js' %}"></script> -->
<!-- <link type="text/javascript" href="{% static 'js/material-components-web.js' %}"> -->
<script type="text/javascript">
function example_query() {
    document.getElementById('query_go_id').value = "GO:0005634"
    document.getElementById('id_search_id').value = "TP53"
    document.getElementById('query_bto_id').value = "BTO:0000093"
    document.getElementById('bto_text').innerHTML = "Mcf-7 cell";
    document.getElementById('go_text').innerHTML = "Nucleus";
    document.getElementById('id_label').innerHTML = "";
    document.getElementById('bto_label').innerHTML = "";
    document.getElementById('go_label').innerHTML = "";
    // $('#bto_label').html('whatever');
    // $('#id_label').html('whatever');
    // $('#go_label').html('whatever');
}
</script>
<script>
(function() {
    var tfs = document.querySelectorAll(
        '.mdc-text-field:not([data-demo-no-auto-js])'
    );
    for (var i = 0, tf; tf = tfs[i]; i++) {
        mdc.textField.MDCTextField.attachTo(tf);
    }
})();
</script>
<!-- JS for selection    -->
<!--         <script>
        setTimeout(function() {
            var MDCSelect = mdc.select.MDCSelect;
            var heroSelect = document.getElementById('hero-js-select');
            var heroSelectComponent = new mdc.select.MDCSelect(heroSelect);
        }, 300);
        </script> -->
<script type="text/javascript">
setTimeout(function() {
    var MDCSelect = mdc.select.MDCSelect;
    var root = document.getElementById('js-select-box');
    var boxCurrentlySelected = document.getElementById('box-currently-selected');
    var select = new MDCSelect(root);

    root.addEventListener('MDCSelect:change', function() {
        // document.getElementById('id_label').innerHTML = "Your protein";
        // document.getElementById('bto_label').innerHTML = "Tissue/Cell line";
        // document.getElementById('go_label').innerHTML = "Subcellular localization";
        var item = select.selectedOptions[0];
        var index = select.selectedIndex;
        boxCurrentlySelected.textContent = '"' + item.textContent + '" at index ' + index +
            ' with value "' + select.value + '"';
        document.getElementById('query_bto_id').value = select.value;
    });

}, 300);
</script>
<script type="text/javascript">
setTimeout(function() {
    var MDCSelect = mdc.select.MDCSelect;
    var root_2 = document.getElementById('js-select-box_2');
    var boxCurrentlySelected_2 = document.getElementById('box-currently-selected_2');
    var select_2 = new MDCSelect(root_2);

    root_2.addEventListener('MDCSelect:change', function() {
        // document.getElementById('id_label').innerHTML = "Your protein";
        // document.getElementById('bto_label').innerHTML = "Tissue/Cell line";
        // document.getElementById('go_label').innerHTML = "Subcellular localization";
        var item_2 = select_2.selectedOptions[0];
        var index_2 = select_2.selectedIndex;
        boxCurrentlySelected_2.textContent = '"' + item_2.textContent + '" at index ' + index_2 +
            ' with value "' + select_2.value + '"';
        document.getElementById('query_go_id').value = select_2.value;
    });
}, 300);
</script>
<!-- button clickon function -->
<script>
function call_counter(url, pk) {
    window.open(url);
    $.get('YOUR_VIEW_HERE/' + pk + '/', function(data) {
        alert("counter updated!");
    });
}
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/cookieconsent.min.css' %} " /> 
<script src="{% static 'js/cookieconsent.min.js' %}"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "message": "TS-SCL DB doesn\\'t collect any personal information, but does use some cookies."
  }
})});
</script>

{% endblock %}