{% extends 'ts_scl_db/scl_db_base.html' %} {% load static %} {% load render_table from django_tables2 %} {% block content %}
<script src="{% static 'js/__jquery.tablesorter.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.pager.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-paginate.js' %}"></script>
<script type="text/javascript">
function show_hide_row(row) {
    $("#" + row).toggle();
}
</script>
<style>
/*table {
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    top: 160px;
    z-index: -1
}*/

.mdc-typography--title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#prot_info {
    /*float: left;*/
    margin: 0 1.5%;
    width: 25%;
    position: fixed;
    top: 170px;
    background: #f5f5f5;
    font-size: 13px;
    /*border:5px solid grey;*/
}

#tab_download {
    margin: 1.5% 1.5%;
    width: 25%;
    height: 30px;
    position: fixed;
    top: 400px;
    background: #f5f5f5;
    font-size: 13px;
    text-decoration: none;
    padding: 8px;
}

tr:hover {
    background-color: #f5f5f5;
}

.info_m {
    /*padding: 0px;*/
    font-weight: bold;
    border: 0px solid black;
    text-align: left;
    /*width: */
    width: 105px;
    /*background: #515151;*/
}

.info_n {
    padding: 0px;
    text-align: left;
    border: 0px solid black;
    /*width: 160px;*/
}

#table_detail {
    margin: 0 1.5%;
    width: 70%;
    right: 0%;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
    border-collapse: collapse;
    position: absolute;
    top: 160px;
}



.hidden_row {
    display: none;
}

.gene {
    background-color: #ffcc00;
}

.SCL {
    background-color: #e67300;
}

.tissue {
    background-color: #33cccc;
}
</style>
<!-- <body class="mdc-typography" data-gr-c-s-loaded="true">
<main> -->
{% if query_gene_obj %}
<section id="prot_info" class="mdc-typography--title">
    <table>
        <!-- <ul class="mdc-list" style="font-size: 20"> -->
        <!-- <h3> SCL results in tissues</h3> -->
        <!-- <p>Gene Name: {{query_gene_obj.GeneName}}</p> -->
        <tr>
            <td class="info_m">Gene Symbol</td>
            <td class="info_n">{{query_gene_obj.GeneSymbol}}</td>
        </tr>
        <tr>
            <td class="info_m">Gene Name</td>
            <td class="info_n">{{query_gene_obj.GeneName}}</td>
        </tr>
        <tr>
            <td class="info_m">Entrez Gene</td>
            <td class="info_n"><a href="https://www.ncbi.nlm.nih.gov/gene/?term={{query_gene_obj.EntrezID}}">{{query_gene_obj.EntrezID}}</a></td>
        </tr>
        <tr>
            <td class="info_m">Uniprot ACC</td>
            <td class="info_n"><a href="https://www.uniprot.org/uniprot/{{query_gene_obj.UniprotACC}}">{{query_gene_obj.UniprotACC}}</a></td>
        </tr>
        <!-- <p>Gene Symbol : {{query_gene_obj.GeneSymbol}}</p> -->
        <!-- <p>Uniprot Accesion : {{query_gene_obj.UniprotACC}}</p> -->
        <!-- <p>Entrez Gene ID : {{query_gene_obj.EntrezID}}</p> -->
        <!-- <li class="mdc-list-item"><a>Entrez ID: {{query_gene_obj.EntrezID}}</a></li> -->
        <!-- </ul> -->
        </tr>
    </table>
</section>
<div id="tab_download">
    <a href="#" id="xx">Export Table data into Excel</a>
</div>
{% else %}
<p>Sorry, there is no information for this protein.</p>
{% endif %}
<section>
    {% if tagger_objs %}
    <table width="70%" id="table_detail" align=center cellpadding=10 class="sortable">
        <thead>
            <tr>
                <th>PMID</th>
                <th>Publications</th>
                <th style="text-align: right;">
                    <b class=tissue>Tissue</b> <b class=gene>Gene/Protein</b> <b class=SCL>SCL</b>
                </th>
            </tr>
        </thead>
        <!--    <ul class="mdc-list">
    <h3> Tagged abstracts</h3>
    <span><mark>Tagged abstracts</mark></span> -->
        <tbody>
            {% for x in tagger_objs %}
            <tr class="show_row" onclick="show_hide_row('{{x.pmid}}');">
                <td><a href=h ttps://www.ncbi.nlm.nih.gov/pubmed/{{x.pmid}}>{{x.pmid}}</a></td>
                <td colspan="2">{% autoescape off %}
                    <font face="Georgia, serif" size="4">{{x.title}}</font>
                    <br>
                    <font face="Optima, sans-serif">{{x.authors}}</font>
                    <br>
                    <font face="Gill Sans, sans-serif" color="#797D7F">{{x.journal}}{% endautoescape %}</font>
                </td>
                <form action="{% url 'ts_scl_db:endose' %}" target="_blank" method="post">
                    {% csrf_token %}
                    <td>
                        <input type="submit" class="w3-button w3-black w3-round-large" value="Endose" target="_blank"/>
                        <input type="hidden" name = "triple_relation_pmid_pk" value="{{x.triplet_pmid_pk}}"/>
                        <input type="hidden" name = "endosor" value='anonymous' />
                    </td>
                </form>
            </tr>
            <tr id="{{x.pmid}}" class="hidden_row">
                <td></td>
                <td colspan="2">{% autoescape off %}{{x.abstract}}{% endautoescape %}</td>
            </tr>
            {% endfor %}
            <!-- </ul> -->
        </tbody>
    </table>
    {% else %}
    <p>Server is down, please try later.</p>
    {% endif %}
</section>>
<!-- </main> -->
<!-- <script>
// // Add some examples to the page
// for(var i = 0; i < 36; ++i)
//   $('#table_detail > tbody').append('<tr><td>' + i + '</td><td>' + i.toString(16) + '</td></tr>');
// Paginate it
$('#table_detail').paginate({
    limit: 21, // 10 elements per page
    initialPage: 0, // Start on second page
    previous: true, // Show previous button
    previousText: 'Previous page', // Change previous button text
    next: true, // Show previous button
    nextText: 'Next page', // Change next button text
    first: true, // Show first button
    firstText: 'First', // Change first button text
    last: true, // Show last button
    lastText: 'Last', // Change last button text
    optional: false, // Always show the navigation menu
    onCreate: function(obj) { console.log('Pagination done!');
        $(".hidden_row").hide(); }, // `onCreate` callback
    onSelect: function(obj, i) { console.log('Page ' + i + ' selected!');
        $(".hidden_row").hide(); }, // `onSelect` callback
    // childrenSelector: 'tbody > tr.ugly', // Paginate the rows with the `ugly` class
    // navigationWrapper: $('div#myNavWrapper'), // Append the navigation menu to the `#myNavWrapper` div
    // navigationClass: 'my-page-navigation', // New css class added to the navigation menu
    pageToText: function(i) { return (i + 1).toString(16); } // Page numbers will be shown on hexadecimal notation
});
// $(".hidden_row").hide();
</script> -->
<script type="text/javascript">
// function hide_rows() { 
//    
$(".hidden_row").hide();
</script>
<script type="text/javascript">
function exportTableToCSV($table, filename) {

    var $rows = $table.find('tr:has(td),tr:has(th)'),

        // Temporary delimiter characters unlikely to be typed by keyboard
        // This is to avoid accidentally splitting the actual contents
        tmpColDelim = String.fromCharCode(11), // vertical tab character
        tmpRowDelim = String.fromCharCode(0), // null character

        // actual delimiter characters for CSV format
        colDelim = '","',
        rowDelim = '"\r\n"',

        // Grab text from table into CSV formatted string
        csv = '"' + $rows.map(function(i, row) {
            var $row = $(row),
                $cols = $row.find('td,th');

            return $cols.map(function(j, col) {
                var $col = $(col),
                    text = $col.text();

                return text.replace(/"/g, '""'); // escape double quotes

            }).get().join(tmpColDelim);

        }).get().join(tmpRowDelim)
        .split(tmpRowDelim).join(rowDelim)
        .split(tmpColDelim).join(colDelim) + '"',



        // Data URI
        csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

    console.log(csv);

    if (window.navigator.msSaveBlob) { // IE 10+
        //alert('IE' + csv);
        window.navigator.msSaveOrOpenBlob(new Blob([csv], { type: "text/plain;charset=utf-8;" }), "csvname.csv")
    } else {
        $(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
    }
}

// This must be a hyperlink
$("#xx").on('click', function(event) {

    exportTableToCSV.apply(this, [$('#table_detail'), '{{query_gene_obj.GeneName}}' + '_publications.csv']);

    // IF CSV, don't do event.preventDefault() or return false
    // We actually need this to be a typical hyperlink
});
</script>
{% endblock %}